*{
    padding: 0px;
    margin: 0;
    color: rgb(30, 30, 184);
}

#sum_box{
    height: 350px;
    width: 820px;
    margin: 0 auto;
    /* border: 1px #b8b8b8 solid; */
    display: flex;
    justify-content: space-between;
}
.lift_sum_box{
    height: 350px;
    width: 512px;
    border: 1px #b8b8b8 solid; 
 }
.right_sum_box{
    height: 350px;
    width: 302px;
    border: 1px #b8b8b8 solid;  
}
#top_sum{
    width: 100%;
    height: 30px;
    border-bottom: #b8b8b8 1px solid;
    display: flex;
    line-height: 30px;
    background-color: #eeeeee;
}
.top_sum_lift{
    text-indent: 6px;
    height: 100%;
    width: 294px;
    border-right: #b8b8b8 1px solid;
    font-size: 16px;
    font-weight: 600;
}
.top_sum_right{
    height: 100%;
    width: 100%px;
    text-indent: 40px;
    font-size: 14px;
}
#moddle_box{
    margin-top: 5px;
    height: 350px;
    width: 512px;
    display: flex;
}
.moddle_box_lift{
    height: 294px;
    width: 294px;
    font-size: 13px;
    line-height: 30px;
    text-indent: 5px;
    border-right: #b8b8b8 1px dashed;
}
.moddle_box_right{
    height: 300px;
    width: 214px;
    
}
.boder_p{
    margin: 0 auto;
    width: 280px;
    border-bottom:#b8b8b8 1px dashed;

}
.bottom_lift{
    font-size: 11px;
    text-align: right;
}
.moddle_box_right_top{
    height: 140px;
    width: 180px;
    float: right;
    padding-bottom: 5px;
}
.moddle_box_right_top img{
    height: 120px;
    width: 180px;
}
.price{
    font-size: 13px;
}
.right_sum_top{
    text-indent: 6px;
    width: 100%;
    height: 30px;
    border-bottom: #b8b8b8 1px solid;
    font-size: 16px;
    font-weight: 600;
    line-height: 30px;
    background-color: #eeeeee;
}
.right_sum_mian{
    margin-top: 10px;
    font-size: 13px;
    font-weight: 420;
    text-indent: 14px;
    line-height: 20px;
}
#right_picture_thrid{
    height: 120px;
    width:290px;
    margin: 0 auto;
    display: flex;
}
.tuwen_box{
    height: 90px;
    width:90px; 
    margin-left: 10px;
    margin-top: 10px;
}
.tuwen_box img{
    height: 90px;
    width:80px; 
}
.pic_san{
    font-size: 13px;
}
#right_sum_bottom{
    font-size: 13px;
    height: 220px;
    width:290px;
    margin: 0 auto;
    display: flex; 
    line-height: 22px;   
}
.right_sum_bottom_text{
    margin-top:20px;
    height: 220px;
    width: 145px;
}